
<%- include('../Layout/user/hedder.ejs') -%>


<body>
    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                            <p>Free shipping, 30-day return or refund guarantee.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                                <% if (userData) { %>
                                    <!-- User is logged in -->
                                    <a href="/profile">Profile</a>
                                    <a href="/logout">Logout</a>
                                <% } else { %>
                                    <!-- User is not logged in -->
                                    <a href="/login">Sign in</a>
                                <% } %>                             
                            </div>                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <H4>EXIMIUS</H4>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li class="active" ><a href="/store" >Shop</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Contacts</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <a href="/cart"><img src="img/icon/cart.png" alt=""> <span>0</span></a>
                        <div class="price">$0.00</div>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shop</h4>
                        <div class="breadcrumb__links">
                            <a href="/">Home</a>
                            <span>Shop</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="shop__sidebar">
                        <!-- Search Section -->
                        <div class="shop__sidebar__search">
                            <form id="filter-form" action="/store" method="GET">
                                <input type="text" id="search" name="search" placeholder="Search by name...">
                                <div id="filters">
                                    <input type="hidden" id="selected-categories" name="categories">
                                    <input type="hidden" id="selected-brands" name="brands">
                                    <input type="hidden" id="sort-order" name="sort">
                                </div>
                                <button type="submit" style="display: none;"><span class="icon_search"></span></button>
                            </form>
                        </div>
                        
                        <!-- Filters and Sort Options -->
                        <div class="shop__sidebar__accordion">
                            <div class="accordion" id="accordionExample">
                                <!-- Categories Section -->
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseCategories">Categorie</a>
                                    </div>
                                    <div id="collapseCategories" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__brand">
                                                <ul>
                                                    <% categorie.forEach(category => { %>
                                                        <li>
                                                            <label>
                                                                <input type="checkbox" class="category-filter" value="<%= category._id %>"
                                                                    <%= selectedCategories.includes(category._id.toString()) ? 'checked' : '' %> >
                                                                <%= category.name %>
                                                            </label>
                                                        </li>
                                                    <% }) %>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- Branding Section -->
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseBrands">Branding</a>
                                    </div>
                                    <div id="collapseBrands" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__brand">
                                                <ul>
                                                    <% brand.forEach(brand => { %>
                                                        <li>
                                                            <label>
                                                                <input type="checkbox" class="brand-filter" value="<%= brand._id %>"
                                                                    <%= selectedBrands.includes(brand._id.toString()) ? 'checked' : '' %> >
                                                                <%= brand.BrandName %>
                                                            </label>
                                                        </li>
                                                    <% }) %>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseSort">Sort by</a>
                                    </div>
                                    <div id="collapseSort" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__brand">
                                                <ul>
                                                    <li>
                                                        <label>
                                                            <input type="radio" name="sort" value="low-to-high"> Low to High
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label>
                                                            <input type="radio" name="sort" value="high-to-low"> High to Low
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label>
                                                            <input type="radio" name="sort" value="a-to-z"> aA to zZ
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label>
                                                            <input type="radio" name="sort" value="z-to-a"> zZ to aA
                                                        </label>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <!-- Products Display -->
                <div class="col-lg-9">
                    <div class="shop-product-options mb-4">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop-product-options-left">
                                    <p class="mb-0">Total  <%=  totalResults%> results</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="product-list">
                        <div class="row g-4">
                            <% product.forEach(product => { %>
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <a href="/product-details/<%= product._id %>" class="text-decoration-none text-dark">
                                        <div class="product-item text-center">
                                            <div class="product-item-pic position-relative overflow-hidden">
                                                <img src="/productIMG/<%= product.productimages[0] %>" alt="<%= product.name %>"
                                                    class="img-fluid product-img"
                                                    style="width: 100%; height: 250px; object-fit: cover; transition: transform 0.5s ease;">
                                            </div>
                                            <div class="product-item-text py-3">
                                                <h6 class="mb-1" style="font-size: 16px;"><%= product.name %></h6>
                                                <h5 class="mb-0" style="font-size: 18px; color: #333;">$<%= product.price.toFixed(2) %></h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            <% }) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Footer Section -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="img/footer-logo.png" alt=""></a>
                        </div>
                        <p>The customer is at the heart of our unique business model, which includes design.</p>
                        <a href="#"><img src="img/payment.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget"></div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>MEN</h6>
                        <ul>
                            <li><a href="#">Shop</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Categories</a></li>
                            <li><a href="#">Brands</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>Newsletter</h6>
                        <div class="footer__newslatter">
                            <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
    <!-- Search Modal -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    
    <!-- JavaScript for hover effect and filter handling -->
    <script>
        // Hover effect for product images
        document.querySelectorAll('.product-item-pic').forEach(pic => {
            pic.addEventListener('mouseover', function() {
                this.querySelector('img').style.transform = 'scale(1.1)';
            });
            pic.addEventListener('mouseout', function() {
                this.querySelector('img').style.transform = 'scale(1)';
            });
        });
    
       
        document.addEventListener('DOMContentLoaded', function () {
    const filterForm = document.getElementById('filter-form');
    const categoriesInput = document.getElementById('selected-categories');
    const brandsInput = document.getElementById('selected-brands');
    const sortInput = document.getElementById('sort-order');

    let submitting = false;

    // Function to update hidden fields and submit form
    function updateFilters() {
        if (submitting) return;  // Prevent multiple submissions

        submitting = true;

        const selectedCategories = Array.from(document.querySelectorAll('.category-filter:checked')).map(el => el.value);
        const selectedBrands = Array.from(document.querySelectorAll('.brand-filter:checked')).map(el => el.value);
        const selectedSort = document.querySelector('input[name="sort"]:checked')?.value || '';

        categoriesInput.value = selectedCategories.join(',');
        brandsInput.value = selectedBrands.join(',');
        sortInput.value = selectedSort;

        // Submit the form
        filterForm.submit();
    }

    // Attach event listeners
    document.querySelectorAll('.category-filter').forEach(el => {
        el.addEventListener('change', updateFilters);
    });

    document.querySelectorAll('.brand-filter').forEach(el => {
        el.addEventListener('change', updateFilters);
    });

    document.querySelectorAll('input[name="sort"]').forEach(el => {
        el.addEventListener('change', updateFilters);
    });

    // Reset submitting flag after form submission
    filterForm.addEventListener('submit', () => {
        submitting = false;
    });
});


    </script>
    
    <%- include('../Layout/user/footer.ejs') -%>